## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [300]:
import pandas as pd
from pathlib import Path

csv_path = Path("Resources/client_dataset.csv")

data_file_df = pd.read_csv(csv_path)

data_file_df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [301]:
# View the column names in the data
column_names = data_file_df.columns
print(column_names)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [302]:
# Use the describe function to gather some basic statistics
data_file_df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [303]:
# Use this space to do any additional research
# and familiarize yourself with the data.

# check the datatype of columns
column_type = data_file_df.dtypes
print(column_type)

#check for missing values
missing_values = data_file_df.isnull().sum()
print(missing_values)

first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object
first          0
last           0
job            0
phone          0
email          0
client_id      0
order_id       0
order_date     0
order_week     0
order_year     0
item_id        0
category       0
subcategory    0
unit_price     0
unit_cost      0
unit_weight    0
qty            0
line_number    0
dtype: int64

In [304]:
# What three item categories had the most entries?
category_count = data_file_df['category'].value_counts()

top_three_categories = category_count.head(3)

print(top_three_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [305]:
# For the category with the most entries,
# which subcategory had the most entries?
most_entries_category = data_file_df['category'].value_counts().idxmax()
print(most_entries_category)

filtered_df = data_file_df[data_file_df['category'] == most_entries_category]

subcategory_counts = filtered_df['subcategory'].value_counts()

subcategory_with_most_entries = subcategory_counts.idxmax()

print(subcategory_with_most_entries)

consumables
bathroom supplies

In [306]:
# Which five clients had the most entries in the data?
client_entries_count = data_file_df['client_id'].value_counts()

top_five_clients = client_entries_count.head(5)

print(top_five_clients)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [307]:
# Store the client ids of those top 5 clients in a list.
top_clients = top_five_clients.index.tolist()

print(top_clients)

[33615, 66037, 46820, 38378, 24741]

In [308]:
# How many total units (the qty column) did the
# client with the most entries order order?
top_client_id = data_file_df['client_id'].value_counts().idxmax()

top_client_data = data_file_df[data_file_df['client_id'] == top_client_id]

total_units_ordered = top_client_data['qty'].sum()

print("Total units the top client ordered:", total_units_ordered)

Total units the top client ordered: 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [309]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
data_file_df['subtotal'] = data_file_df['unit_price'] * data_file_df['qty']
print(data_file_df)

#data_file_df['subtotal'].astype(int)
#print(data_file_df['subtotal'])

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number   subtotal
0                1  115164.00
1                0     523.95
2                6     527.28
3                3    1056.18
4                1    3902.00
...            ...        ...
54634            8    2743.29
54635            0    9709.73
54636            6   31188.50
54637            0     165.76
54638            5    3103.31

[54639 rows x 19 columns]

In [310]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
data_file_df['total_weight'] = data_file_df['unit_weight'] * data_file_df['qty']

data_file_df['shipping_price'] = data_file_df['total_weight'].apply(lambda x: 7 if x > 50 else 10)

print(data_file_df)

#data_file_df['total_weight'].astype(int)
#data_file_df['shipping_price'].astype(int)
#print(data_file_df['total_weight'])
#print(data_file_df['shipping_price'])

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ...     category         subcategory  \
0              17        2023  ...        decor            wall art
1              20        2023  ...  consumables                pens
2               4        2023  ...     software  project management
3              17        2023  ...  consumables                pens
4              21        2023  ...  consumables                misc
...           ...         ...  ...          ...                 ...
54634          17        2023  ...     software           logistics
54635           6        2023  ...  consumables    kitchen supplies
54636           9        2023  ...  consumables   bathroom supplies
54637           3        2023  ...    furniture              stands
54638           1        2023  ...     software  project management

      unit_price  unit_cost  unit_weight   qty  line_number   subtotal  \
0        1096.80     762.71         7.50   105            1  115164.00
1          24.95      15.09         1.49    21            0     523.95
2          13.52       7.86         1.68    39            6     527.28
3          36.42      24.85         1.23    29            3    1056.18
4         195.10     108.17        46.43    20            1    3902.00
...          ...        ...          ...   ...          ...        ...
54634      83.13      51.60         2.25    33            8    2743.29
54635     206.59     175.46        11.70    47            0    9709.73
54636      65.66      57.31         4.16   475            6   31188.50
54637       1.48       1.22        18.04   112            0     165.76
54638       3.01       1.61         2.07  1031            5    3103.31

       total_weight  shipping_price
0            787.50               7
1             31.29              10
2             65.52               7
3             35.67              10
4            928.60               7
...             ...             ...
54634         74.25               7
54635        549.90               7
54636       1976.00               7
54637       2020.48               7
54638       2134.17               7

[54639 rows x 21 columns]

In [311]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
data_file_df['line_price'] = (data_file_df['subtotal'] + data_file_df['shipping_price'] * data_file_df['total_weight']) * 1.0925

print(data_file_df)

#data_file_df['line_price'].astype(int)
#print(data_file_df['line_price'])

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ...         subcategory unit_price unit_cost  \
0              17        2023  ...            wall art    1096.80    762.71
1              20        2023  ...                pens      24.95     15.09
2               4        2023  ...  project management      13.52      7.86
3              17        2023  ...                pens      36.42     24.85
4              21        2023  ...                misc     195.10    108.17
...           ...         ...  ...                 ...        ...       ...
54634          17        2023  ...           logistics      83.13     51.60
54635           6        2023  ...    kitchen supplies     206.59    175.46
54636           9        2023  ...   bathroom supplies      65.66     57.31
54637           3        2023  ...              stands       1.48      1.22
54638           1        2023  ...  project management       3.01      1.61

       unit_weight   qty  line_number   subtotal  total_weight  \
0             7.50   105            1  115164.00        787.50
1             1.49    21            0     523.95         31.29
2             1.68    39            6     527.28         65.52
3             1.23    29            3    1056.18         35.67
4            46.43    20            1    3902.00        928.60
...            ...   ...          ...        ...           ...
54634         2.25    33            8    2743.29         74.25
54635        11.70    47            0    9709.73        549.90
54636         4.16   475            6   31188.50       1976.00
54637        18.04   112            0     165.76       2020.48
54638         2.07  1031            5    3103.31       2134.17

       shipping_price     line_price
0                   7  131839.076250
1                  10     914.258625
2                   7    1077.117600
3                  10    1543.571400
4                   7   11364.403500
...               ...            ...
54634               7    3564.871200
54635               7   14813.240275
54636               7   49184.896250
54637               7   15632.713600
54638               7   19711.431250

[54639 rows x 22 columns]

In [312]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
data_file_df['shipping_cost'] = data_file_df["shipping_price"] * data_file_df["total_weight"]
data_file_df['line_cost'] = data_file_df["unit_cost"] * data_file_df["qty"] + data_file_df["shipping_cost"]

print(data_file_df)

#data_file_df['shipping_cost'].astype(int)
#data_file_df['line_cost'].astype(int)
#print(data_file_df['shipping_cost'])
#print(data_file_df['line_cost'])

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_cost unit_weight   qty  line_number  \
0              17        2023  ...    762.71        7.50   105            1
1              20        2023  ...     15.09        1.49    21            0
2               4        2023  ...      7.86        1.68    39            6
3              17        2023  ...     24.85        1.23    29            3
4              21        2023  ...    108.17       46.43    20            1
...           ...         ...  ...       ...         ...   ...          ...
54634          17        2023  ...     51.60        2.25    33            8
54635           6        2023  ...    175.46       11.70    47            0
54636           9        2023  ...     57.31        4.16   475            6
54637           3        2023  ...      1.22       18.04   112            0
54638           1        2023  ...      1.61        2.07  1031            5

        subtotal  total_weight  shipping_price     line_price  shipping_cost  \
0      115164.00        787.50               7  131839.076250        5512.50
1         523.95         31.29              10     914.258625         312.90
2         527.28         65.52               7    1077.117600         458.64
3        1056.18         35.67              10    1543.571400         356.70
4        3902.00        928.60               7   11364.403500        6500.20
...          ...           ...             ...            ...            ...
54634    2743.29         74.25               7    3564.871200         519.75
54635    9709.73        549.90               7   14813.240275        3849.30
54636   31188.50       1976.00               7   49184.896250       13832.00
54637     165.76       2020.48               7   15632.713600       14143.36
54638    3103.31       2134.17               7   19711.431250       14939.19

       line_cost
0       85597.05
1         629.79
2         765.18
3        1077.35
4        8663.60
...          ...
54634    2222.55
54635   12095.92
54636   41054.25
54637   14280.00
54638   16599.10

[54639 rows x 24 columns]

In [313]:
# Create a column for the profit of
# each line using line cost and line price
data_file_df['profit'] = data_file_df['line_price'] - data_file_df['line_cost']
print(data_file_df)

#data_file_df['profit'].astype(int)
#print(data_file_df['profit'])

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_weight   qty line_number   subtotal  \
0              17        2023  ...        7.50   105           1  115164.00
1              20        2023  ...        1.49    21           0     523.95
2               4        2023  ...        1.68    39           6     527.28
3              17        2023  ...        1.23    29           3    1056.18
4              21        2023  ...       46.43    20           1    3902.00
...           ...         ...  ...         ...   ...         ...        ...
54634          17        2023  ...        2.25    33           8    2743.29
54635           6        2023  ...       11.70    47           0    9709.73
54636           9        2023  ...        4.16   475           6   31188.50
54637           3        2023  ...       18.04   112           0     165.76
54638           1        2023  ...        2.07  1031           5    3103.31

       total_weight  shipping_price     line_price  shipping_cost  line_cost  \
0            787.50               7  131839.076250        5512.50   85597.05
1             31.29              10     914.258625         312.90     629.79
2             65.52               7    1077.117600         458.64     765.18
3             35.67              10    1543.571400         356.70    1077.35
4            928.60               7   11364.403500        6500.20    8663.60
...             ...             ...            ...            ...        ...
54634         74.25               7    3564.871200         519.75    2222.55
54635        549.90               7   14813.240275        3849.30   12095.92
54636       1976.00               7   49184.896250       13832.00   41054.25
54637       2020.48               7   15632.713600       14143.36   14280.00
54638       2134.17               7   19711.431250       14939.19   16599.10

             profit
0      46242.026250
1        284.468625
2        311.937600
3        466.221400
4       2700.803500
...             ...
54634   1342.321200
54635   2717.320275
54636   8130.646250
54637   1352.713600
54638   3112.331250

[54639 rows x 25 columns]

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [314]:
# Check your work using the totals above
Order_ID_2742071_data = data_file_df[data_file_df['order_id'] == 2742071]
Order_ID_2742071_total_price = Order_ID_2742071_data['line_price'].sum()
print(Order_ID_2742071_total_price)

Order_ID_2173913_data = data_file_df[data_file_df['order_id'] == 2173913]
Order_ID_2173913_total_price = Order_ID_2173913_data['line_price'].sum()
print(Order_ID_2173913_total_price)

Order_ID_6128929_data = data_file_df[data_file_df['order_id'] == 6128929]
Order_ID_6128929_total_price = Order_ID_6128929_data['line_price'].sum()
print(Order_ID_6128929_total_price)

152811.897075
162388.7193
923441.24045

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [315]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
top_client_spend_data = data_file_df['client_id'].value_counts().head(5)

top_client_spend_data

total_spend_client_33615_data = data_file_df[data_file_df['client_id'] == 33615]

total_spend_client_33615 = total_spend_client_33615_data['line_price'].sum()

print("Client ID# 33615 spent a total of $", total_spend_client_33615)


total_spend_client_66037_data = data_file_df[data_file_df['client_id'] == 66037]

total_spend_client_66037 = total_spend_client_66037_data['line_price'].sum()

print("Client ID# 66037 spent a total of $", total_spend_client_66037)


total_spend_client_46820_data = data_file_df[data_file_df['client_id'] == 46820]

total_spend_client_46820 = total_spend_client_46820_data['line_price'].sum()

print("Client ID# 46820 spent a total of $", total_spend_client_46820)


total_spend_client_38378_data = data_file_df[data_file_df['client_id'] == 38378]

total_spend_client_38378 = total_spend_client_38378_data['line_price'].sum()

print("Client ID# 38378 spent a total of $", total_spend_client_38378)


total_spend_client_24741_data = data_file_df[data_file_df['client_id'] == 24741]

total_spend_client_24741 = total_spend_client_24741_data['line_price'].sum()

print("Client ID# 24741 spent a total of $", total_spend_client_24741)

Client ID# 33615 spent a total of $ 8377308.572500001
Client ID# 66037 spent a total of $ 10259514.801275
Client ID# 46820 spent a total of $ 9743794.320474999
Client ID# 38378 spent a total of $ 12906550.880874999
Client ID# 24741 spent a total of $ 82268891.97985002

In [316]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

summary_df = data_file_df.groupby('client_id').agg({
    'qty': 'sum',
    'shipping_cost': 'sum',
    'line_price': 'sum',
    'profit': 'sum',
}).reset_index()

top_clients_id = [33615, 66037, 46820, 38378, 24741]

summary_df = summary_df.sort_values('profit', ascending = False)

top_five_summary = summary_df[summary_df['client_id'].isin(top_clients_id)]

print(top_five_summary)

     client_id     qty  shipping_cost    line_price        profit
144      24741  239862     5126448.37  8.226889e+07  3.657999e+07
319      38378   73667     3429455.40  1.290655e+07  3.271830e+06
621      66037   43018     1395151.85  1.025951e+07  3.255032e+06
402      46820   75768     1601448.84  9.743794e+06  2.736603e+06
258      33615   64313     1828984.89  8.377309e+06  2.201995e+06

In [317]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

reformatted_summary_df = top_five_summary.rename(columns = {'client_id': 'Client ID', 'qty': 'Total Units Purchased', 'shipping_cost': 'Total Shipping', 'line_price': 'Total Revenue', 'profit': 'Total Profit', '': ''})

reformatted_summary_df['Total Units Purchased'] = reformatted_summary_df['Total Units Purchased'].astype(int)
reformatted_summary_df['Total Shipping'] = (reformatted_summary_df['Total Shipping']).astype(int)
reformatted_summary_df['Total Revenue'] = (reformatted_summary_df['Total Revenue']).astype(int)
reformatted_summary_df['Total Profit'] = (reformatted_summary_df['Total Profit']).astype(int)

reformatted_summary_df['Total Units Purchased'] = reformatted_summary_df['Total Units Purchased'].map('{:,}'.format)
reformatted_summary_df['Total Shipping'] = (reformatted_summary_df['Total Shipping']/1000000).map('${:,}M'.format)
reformatted_summary_df['Total Revenue'] = (reformatted_summary_df['Total Revenue']/1000000).map('${:,}M'.format)
reformatted_summary_df['Total Profit'] = (reformatted_summary_df['Total Profit']/1000000).map('${:,}M'.format)

print(reformatted_summary_df)

     Client ID Total Units Purchased Total Shipping Total Revenue Total Profit
144      24741               239,862     $5.126448M   $82.268891M  $36.579992M
319      38378                73,667     $3.429455M    $12.90655M   $3.271829M
621      66037                43,018     $1.395151M   $10.259514M   $3.255031M
402      46820                75,768     $1.601448M    $9.743794M   $2.736602M
258      33615                64,313     $1.828984M    $8.377308M   $2.201994M

In [318]:
# Sort the updated data by "Total Profit" form highest to lowest

custom_order = [144, 319, 621, 402, 258]  # Define a custom order of indices
df_reordered = reformatted_summary_df.reindex(custom_order)

print(df_reordered)

     Client ID Total Units Purchased Total Shipping Total Revenue Total Profit
144      24741               239,862     $5.126448M   $82.268891M  $36.579992M
319      38378                73,667     $3.429455M    $12.90655M   $3.271829M
621      66037                43,018     $1.395151M   $10.259514M   $3.255031M
402      46820                75,768     $1.601448M    $9.743794M   $2.736602M
258      33615                64,313     $1.828984M    $8.377308M   $2.201994M

In [319]:
#Brief summary of findings
print("While the top five clients based on number of entries were within range of each other (207-220), Total Revenue & Total Profit generated by Client ID# 24741 was noticeably high amonst the top five.  Note: Total Profit directionally aligns with Total Revenue.")

While the top five clients based on number of entries were within range of each other (207-220), Total Revenue & Total Profit generated by Client ID# 24741 was noticeably high amonst the top five.  Note: Total Profit directionally aligns with Total Revenue.